body {
    width: 80%;
    max-width: 640px;
    margin: 20px auto;
}

p {
    font-size: large;
}

.episode {
    margin: 10px 0px;
    border-top: 1px solid black;
}

.meta {
    border-left: 8px solid black;
    margin: 10px 10px 10px 5px;
    padding: 10px;
}

#header {
    font-family: 'Bangers', cursive;
    font-size: 60px;
    text-align: center;
}

#header-url {
    text-align: center;
    font-size: 1.2em;
    color: gray;
}